<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602698384232-hgkq9fd48r95rv0p5a702g0k3ohsa6ui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602698384232-hgkq9fd48r95rv0p5a702g0k3ohsa6ui</string>
	<key>API_KEY</key>
	<string>AIzaSyA3sT-0lIXT6LS8--dCeUB-0XZ_t-TfdTM</string>
	<key>GCM_SENDER_ID</key>
	<string>602698384232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wedscore</string>
	<key>PROJECT_ID</key>
	<string>wedscore-3c2fc</string>
	<key>STORAGE_BUCKET</key>
	<string>wedscore-3c2fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602698384232:ios:5354e61770519c830f0cdd</string>
</dict>
</plist>